@model ProjectFish.Models.Composition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Composition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">@ViewData["AccountId"]</label>
                @*<select asp-for="AccountId" class ="form-control" asp-items="ViewBag.AccountId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RodId" class="control-label"></label>
                <select asp-for="RodId" class="form-control" asp-items="ViewBag.RodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReelId" class="control-label"></label>
                <select asp-for="ReelId" class="form-control" asp-items="ViewBag.ReelId"></select>
            </div>

            @*<div class="form-group">
            <label asp-for="CompositionId" class="control-label"></label>
            <select asp-for="CompositionId" class="form-control" asp-items="ViewBag.CompositionId"></select>
        </div>*@
            @*<div class="form-group">
            <label asp-for="CompFish" class="control-label"></label>
            <select asp-for="CompFish" class="form-control" asp-items="ViewBag.FishId"></select>
        </div>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
