@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i>A place for you to manage your fishing gear and excursions</i></h1>
    <img src="@Url.Content("~/images/Fiske.png")" />
</div>
